/* GLOBAL STYLE */
body {
  background-color: #f5f5f5;
  color: var(--main);

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
}

/* COLOR PALLETE */
:root {
  /* CTAs, focused, active status, links */
  --primary-brand: #4d5ae5;

  /* overlays, shadows, headings */
  --main: #2e2f42;

  /* valid fields, success messages */
  /* --valid-color:#31D0AA; */

  /* body text */
  --body-text: #434455;

  /* helper text, deemphasized text */
  /* --helper-text:#8E8F99; */

  /* accent color, hairlines, subtle backgrounds */
  --accent: #e7e9fc;

  /* light mode backgrounds,light mode Dialogs/alerts */
  --background: #f4f4fd;

  --focus-button: #404bbf;
}

/* DELETED MARKERS */
.list {
  list-style-type: none;
}

/* HIDEN TEXT */
.hiden-text {
  font-size: 0px;
}

/* LOGOTYPE STYLE */
.logo {
  color: var(--primary-brand);
  font-family: 'Raleway', sans-serif;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-header {
  color: var(--main);
}

.logo-footer {
  color: var(--background);
}

.line-height {
  line-height: 1.17;
}

/* MAIN NAVIGATION */
.nav-links {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

/* CONTACTS */
.contacts {
  color: var(--body-text);

  font-size: 16px;
  text-decoration: none;
}

.contacts:hover,
.contacts:focus {
  color: var(--primary-brand);
}

/* TITLE SITE */
.hero {
  background-color: var(--main);
  color: #ffffff;

  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}

/* BUTTONS */
/* button on the hero */
.button {
  background-color: var(--primary-brand);
  color: #ffffff;
  font-family: inherit;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--focus-button);
}

/* filters button in the Portfolio  */
.button-filters {
  background-color: var(--background);
  color: var(--primary-brand);

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button-filters:hover,
.button-filters:focus {
  background-color: var(--primary-brand);
  color: #ffffff;
}

/* MINE CONTENT */
.section-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  text-transform: capitalize;
}

.list-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-decoration: none;
}

.list-text {
  color: var(--body-text);

  font-size: 16px;
  line-height: 1.5;
}

.text-align {
  text-align: center;
}

.section-fon {
  background-color: var(--background);
}

/* FOOTER STYLE */
.footer {
  background-color: var(--main);
}

.text-footer {
  color: var(--accent);

  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}
